.save-icon {
    background-image: url("project://database/Assets/Plugins/Tiny%20Giant%20Studio/DevTools/DevTrails/Artworks/TGS_DevTrails_Icon_Save.png?fileID=2800000&guid=8f2332880bf24f24a86cd798685bd009&type=3#TGS_DevTrails_Icon_Save");
}

.clock-icon {
    background-image: url("project://database/Assets/Plugins/Tiny%20Giant%20Studio/DevTools/DevTrails/Artworks/TGS_DevTrails_Icon_Clock.png?fileID=2800000&guid=c1e16b06192525c4e88a72c3bf2f44ca&type=3#TGS_DevTrails_Icon_Clock");
}

.warning-icon {
    background-image: var(--unity-icons-console_entry_warn);
}

.error-icon {
    background-image: var(--unity-icons-console_entry_error);
}

.log-icon {
    background-image: var(--unity-icons-console_entry_info);
}

.open-icon {
    background-image: url("project://database/Assets/Plugins/Tiny%20Giant%20Studio/DevTools/DevTrails/Artworks/TGS_DevTrails_Icon_Open.png?fileID=2800000&guid=6ae024aa33d9ab4428a9138508f69e55&type=3#TGS_DevTrails_Icon_Open");
}

.pause-icon {
    background-image: url("project://database/Assets/Plugins/Tiny%20Giant%20Studio/DevTools/DevTrails/Artworks/TGS_DevTrails_Icon_Pause.png?fileID=2800000&guid=bc8955e5281bd7f42b01e8caf7a365f0&type=3#TGS_DevTrails_Icon_Pause");
}

.alarm-icon {
    background-image: url("project://database/Assets/Plugins/Tiny%20Giant%20Studio/DevTools/DevTrails/Artworks/TGS_DevTrails_Icon_Alarm.png?fileID=2800000&guid=c339d4f9802772344b244d439cfc1f88&type=3#TGS_DevTrails_Icon_Alarm");
}
